#product {
  gap: 12px;

  & > div:first-child {
    gap: inherit;

    & > img {
      max-height: 480px;
    }

    & > div {
      max-height: 40px;
      gap: inherit;
    }
  }

  & > div:last-child {
    gap: 1rem;
    color: var(--midgray);
    text-align: justify;

    .desc > div:first-child * {
      width: auto !important;
      height: auto !important;
      border: none !important;
      margin: 0;
    }

    & > ul > li:last-child {
      color: var(--lightgray);
    }

    h1 {
      color: var(--primary);
      font-weight: 700;
    }

    & > div {
      margin: 0;
    }

    & > div.price > span {
      color: var(--primary);
      font-weight: 700;
    }

    & > div.state > span.flag {
      // background-color: var(--bg, #5b9c64) ;
      color: var(--color, #fff);
      border-radius: 16px;
      padding: 4px 14px;
      font-size: smaller;
    }

    & > div.rate {
      gap: 0.4rem;

      & > a {
        color: var(--primary);
        text-decoration: none;
        border-bottom: 1px solid;
        padding: 0 0.6rem;
      }
    }

    & > .addons {
      color: var(--primary);
      gap: 8px;

      & > span {
        font-weight: 700;
        flex-shrink: 0;
        flex-grow: 1;
        width: 100%;
      }

      & > ul {
        list-style: none;

        & > li {
          cursor: pointer;
          color: #a0a0a0;
          background-color: #fbfbfb;
          border: 1px solid currentColor;
          border-radius: 17px;
          padding: 4px 12px;
          transition: all 150ms;

          & > span {
            color: var(--primary);
          }

          &:hover,
          &[data-active="true"] {
            color: var(--primary);
            background-color: #a8d0ec;
            border-color: #a8d0ec;
          }
        }
      }
    }

    & > .checkout {
      justify-content: start;

      @media screen and (max-width: 1200px) {
        background-color: aliceblue;
        justify-content: center;
        position: fixed;
        z-index: 3;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 1rem 1rem 10vh;
        border-radius: 25px 25px 0 0;
      }

      & > button {
        background-color: aliceblue;
        border: 0;
        color: var(--primary);
        font-size: 0.75rem;
        clip-path: circle();
        // scale: 0.8;
      }

      & > div {
        color: #fff;
        background-color: var(--primary);
        padding: 4px 16px;
        text-decoration: none;
        text-align: center;
        border-radius: 16px;
      }
    }
  }
}

#product #nutration-info {
  & > label > svg {
    transform: rotate(0deg);
    transition: 0.3s ease-out;
  }

  & > ul {
    will-change: auto;
    max-height: 0px;
    overflow: hidden;
    transition: 0.3s ease-out;
  }

  &.active {
    & > label > svg {
      transform: rotate(-180deg);
    }

    & > ul {
      max-height: var(--h);
    }
  }
}
