.MuiTooltip-tooltip {
  font: inherit !important;
  background: aliceblue !important;
  color: var(--primary) !important;
  // max-height: 10.1rem;
  // overflow: auto;
}

.swiper-slide:has(.product-item) {
  // height: unset !important;
  // width: auto !important;
  flex: 0 0 280px;
}

div.product-item {
  flex: 0 1 280px;
  // max-width: 280px;
  // height: 100%;
  overflow: hidden;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 1px 0px #0000001f, 0 6px 6px #0000000f;
  border: 1px solid #f8f8f8;
  // gap: 12px 0;

  --btn-opacity: 0.9;
  --hover-length: -60px;

  &.disabled {
    opacity: 0.7;
    // box-shadow: none;
  }

  &.loading {
    pointer-events: none;

    &::after {
      content: "";
      background: rgba(255, 255, 255, 0.781)
        url("https://admin.montana.sa/assets/loader.gif") no-repeat center;
      background-size: cover;
      position: absolute;
      display: block;
      clear: both;
      z-index: 3;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
    }
  }

  & > div:first-child {
    span {
      font-size: small;
      background-color: #ffcd00;
      color: #fff;
      padding: 6px 12px;
      border-radius: 26px;
      line-height: 1;
      font-weight: 500;

      &:has(sub) {
        background-color: #ecf5ff;
        color: var(--primary);
      }
    }
  }

  & > span {
    font-weight: 500;
  }

  & > img {
    height: min(200px, 14vh);
    display: block;
  }

  &:not(.disabled):hover .desc {
    // transform: translateY(var(--hover-length));
  }

  & > .desc {
    // transition: transform var(--hover-transition);
    // transform: translateY(0);
    // height: -webkit-fill-available;
    background-color: #fff;

    & > a {
      height: 100%;
      color: var(--primary);

      & > span:first-child {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
      }

      & > .rate {
        grid-template-columns: auto 1fr auto;
        color: var(--midgray);

        & > object {
          max-height: 18px;
          overflow: hidden;
        }

        & > span {
          background-color: #e4f4ff;
          color: var(--primary);
          border-radius: 27px;
          font-size: x-small;
          font-weight: 700;
          line-height: 1;
          padding: 0.5rem 0.75rem;
        }
      }

      & > .price {
        font-size: small;
        line-height: 1;
        color: var(--midgray);

        & > span {
          color: var(--primary);
          font-size: 1.1rem;
        }
      }
    }

    // & > button {
    //   transition: all var(--hover-transition);
    //   // margin-bottom: var(--hover-length);
    //   background-color: var(--primary) !important;
    //   color: #fff !important;
    //   opacity: var(--btn-opacity);
    //   font-size: 16px;
    //   max-height: var(--btn-height);
    //   overflow: hidden;

    //   & > * {
    //     height: var(--btn-height);
    //     flex-shrink: 0;
    //     position: relative;
    //   }

    //   & > span {
    //     width: 100%;
    //     transition: margin-top var(--hover-transition);
    //   }

    //   &:hover {
    //     --btn-opacity: 1;
    //     & > span:first-child {
    //       margin-top: calc(0px - var(--btn-height));
    //     }
    //   }
    // }
  }

  div.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    --size: 32px;

    & > button {
      border-radius: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--size);
      height: var(--size);
      background-color: var(--primary) !important;
      color: #fff !important;
    }
  }

}

.nutrations-list {
  list-style: none;

  & > li::before {
    content: attr(data-icon);
    font-family: "Segoe UI Emoji";
  }
}